.App {
  display: flex;
  flex-direction: row;
  text-align: center;
  height: 100vh;
  position: relative;
}

.App::after {
  content: "";
  /* background-image: url("./images/5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #5B5C5E;
  /* opacity: 0.6; */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.App-logo {
  /* background-image: url("./images/Logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  /* width: 128px; */
  height: 100px;
  margin-top: 1.5em;
  margin-bottom: 1em;
  /* pointer-events: none; */
}

.App>.body {
  overflow-y: auto;
  /* padding-top: 1em;
  padding-bottom: 1em; */
  width: 100%;
}

/* Navbar ------------------------------------------- */

#navbar {
  /* color: white; */
  display: flex;
  flex-direction: row;
  height: 100vh;
  /* opacity: 0.92; */
}

#navbar a {
  color: inherit;
  text-decoration: inherit;
}

#navbar>.body {
  /* background-color: #383838; Navbar Background */
  background-color: #333333;
  color: snow;
  transition: all 0.35s ease;
  width: 0;
}

#navbar.opened>.body {
  /* flex-grow: 1; */
  width: 300px;
}

#navbar>.body>* {
  width: 0%;
  visibility: hidden;
  transition: all 0.35s ease;
  overflow: hidden;
  white-space: nowrap;
}

#navbar.opened>.body>* {
  visibility: visible;
  width: 100%;
}

#navbar>.burger-btn {
  /* background-color: #383838; Navbar Background */
  background-color: #343434;
  /* border-style: none; */
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(45deg, #fc3f32, #9ddd43) 1;
  line-height: 3.2em;
  padding: 0;
  margin-bottom: 10px;
  text-align: center;
  left: 10px;
  top: 10px;
  position: relative;
  height: 3em;
  width: 3em;
}

#navbar>.burger-btn:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 600px) {
  .App {
    flex-direction: column;
  }
  #navbar {
    flex-direction: column-reverse;
    height: auto;
    position: absolute;
    width: 100%;
    z-index: 99;
  }
  #navbar.opened + .body {
    opacity: 0.5;
  }
  
  #navbar>.body {
    position: relative;
    height: 0;
    transition: height 0.20s ease;
    transform: translateY(-2px);
    width: 0%;
    z-index: 2;
  }
  #navbar.opened>.body {
    box-sizing: border-box;
    /* border: 2px solid black; */
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(60deg, #fc3f32, #9ddd43) 1;
    height: 420px;
    width: 100%;
  }
  #navbar>.burger-btn:hover {
    opacity: 1;
  }
}

/* Menu ------------------------------------------- */

.menu-item {
  padding: 0.5em;
  /* border-top: 1px solid rgba(0, 0, 0, 0.2); */
}

.menu-item a {
  color: inherit;
  text-decoration: inherit;
}

.menu-item:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.menu-item.active {
  background-color: rgba(0, 0, 0, 0.3);
}

.menu-item.spacer, .menu-item.spacer:hover {
  height: 1em;
  background-color: inherit;
}

.flex-container {
  display: flex;
}

.flex-vertical {
  flex-direction: column;
}

.flex-container>.flex-primary {
  flex-grow: 1;
}


.orangeButton {
  color: "black";
  border-radius: '5px';
  text-align: 'center';
  width: "75%";
  background-color: "orange";

}

.greenButton {
  color: "black";
  border-radius: '5px';
  text-align: 'center';
  width: "75%";
  background-color: "green";
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.center-center {
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.icon-button {
  cursor: pointer;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
}

.icon-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}